---
title: Welcome to Middleman
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>Middleman</h1>
  <p class="doc">
    <%= data.space.post.inspect %>
  </p><!-- .doc -->
</div><!-- .welcome -->
